@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.buttonIcon {
  :global {
    background-color: transparent;
    width: fit-content;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    @include transition;
    border: none;
    outline: none;
    img {
      width: 24px;
      aspect-ratio: 1/1;
      height: auto;
      cursor: pointer;
      @include mq($md) {
        width: 20px;
      }
      @include mq($sm) {
        width: 16px;
      }
    }
  }
}
