@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.login {
  :global {
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    background-image: url("../../../public//svgs/loginBg.svg");
    @include background-img;

    @include mq($xls) {
      padding: 20px;
    }

    @include mq($sm) {
      padding: 15px;
    }

    .loginWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0;
      overflow: hidden;
      height: 100%;

      .boxWrapper {
        margin: auto 0;
        background-color: $bgLogin;
        box-shadow: 0 0 10px 10px $light;
        padding: 70px 98px 70px 87px;
        border-radius: 8px;
        gap: 72px;

        @include mq($xlg) {
          padding: 60px 78px 60px 67px;
        }

        @include mq($lgx) {
          padding: 50px 60px;
        }

        @include mq($md) {
          padding: 30px;
          min-width: 90%;
        }

        @include mq($xls) {
          padding: 15px;
        }

        .titleBox {
          gap: 20px;
          justify-content: center;
          align-items: center;
          width: 100%;

          .title {
            color: $darkBlue;
            font-family: $poppinsSemiBold;
          }
        }

        .registrationWrapper {
          width: 100%;

          .imageRight {
            padding: 0;
            padding-right: 44px !important;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            @include mq($xlg) {
              padding-right: 30px !important;
            }

            @include mq($lg) {
              padding-right: 25px !important;
            }

            img {
              width: 256px;
              aspect-ratio: 256/228;
              height: auto;
            }
          }

          .accountsWrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 0;
            padding-left: 44px;
            height: 100%;
            gap: 20px;
            position: relative;

            @include mq($xlg) {
              padding-left: 30px;
            }

            @include mq($lg) {
              padding-left: 25px;
            }

            @include mq($md) {
              padding-left: 0;
            }

            .lineLeft {
              position: absolute;
              height: 95%;
              width: 2px;
              background-color: $gray;
              left: 0;
              bottom: 0;
              border-radius: 2px;

              @include mq($md) {
                display: none;
              }
            }

            //content
            .contentForm {
              width: 100%;

              .options {
                width: 100%;
                align-items: center;
                gap: 16px;

                @include mq($md) {
                  justify-content: center;
                  padding: 20px 0;
                }

                .optionLink {
                  padding: 15px 0;
                  color: $primary;
                  font-family: $poppinsSemiBold !important;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: flex-start;
                  text-decoration: none;
                  width: fit-content;

                  .textAction {
                    color: $primary;
                    font-family: $poppinsSemiBold;
                    width: fit-content;
                    opacity: 0.4;
                  }

                  .activeLine {
                    display: none;
                  }

                  &:last-child {
                    padding-left: 16px;
                    position: relative;
                    min-width: 200px;

                    @include mq($md) {
                      min-width: auto;
                    }

                    .lineBorder {
                      position: absolute;
                      height: 100%;
                      width: 2px;
                      background-color: $gray;
                      left: 0;
                      bottom: 0;
                      border-radius: 2px;

                      @include mq($md) {
                        display: none !important;
                      }
                    }
                  }
                }

                .activeLink {
                  position: relative;
                  color: $primary;

                  .textAction {
                    color: $primary;
                    font-family: $poppinsSemiBold;
                    width: fit-content;
                    opacity: 1;
                  }

                  .activeLine {
                    display: flex;
                    position: absolute;
                    bottom: 0;
                    border-radius: 5px;
                    width: 35%;
                    height: 4px;
                    left: 0;
                    background-color: $warning;
                  }

                  &:last-child {
                    .activeLine {
                      left: 20px !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
