@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.topNavbar {
  :global {
    width: 100%;
    padding: 21px 32px;
    background-color: $light;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    max-width: 100%;
    @include mq($xlg) {
      padding: 20px 30px;
    }
    @include mq($lg) {
      padding: 15px 25px;
    }
    @include mq($md) {
      padding: 15px 20px;
    }
    @include mq($sm) {
      padding: 15px;
    }
    .searchWrapper {
      align-items: center;
      gap: 20px;
      .openMenu {
        border-radius: inherit;
        color: $darkBlue;
        display: none;
        cursor: pointer;
        @include transition;
        &:hover {
          color: $warning;
        }
        @include mq($xls) {
          display: flex !important;
        }
      }
      .searchBox {
        background-color: rgba(229, 237, 249, 44%);
        border-radius: 8px;
        padding: 8px 16px;
        min-width: pxToVw(425);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0;
        @include mq($sm) {
          width: 150px;
          max-width: 150px;
        }
        img {
          width: 24px;
          aspect-ratio: 1/1;
          height: auto;
          cursor: pointer;
          border: none;
          @include mq($sm) {
            width: 18px;
          }
        }
        input {
          background-color: transparent;
          border: none;
          padding: 0;
          padding-left: 14px;
          flex-grow: 1;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          height: 100%;
          font-family: $poppinsRegular;
          @include p;
          color: $dark;
          box-shadow: non;
          &::placeholder {
            color: $dark;
          }
          &:focus {
            outline: none;
            border: none;
            box-shadow: none;
          }
        }
      }
    }
    .profile {
      align-items: center;
      justify-content: flex-end;
      margin-left: auto;
      gap: 16px;
      @include mq($sm) {
        gap: 10px;
      }
      img {
        height: 40px;
        aspect-ratio: 1/1;
        width: auto;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #d9d9d9;
        @include mq($sm) {
          height: 30px;
        }
      }
      .names {
        align-items: center;
        gap: 8px;
        @include mq($sm) {
          gap: 5px;
        }
        span {
          font-family: $poppinsSemiBold;
          @include p;
          color: $dark;
          @include mq($xms) {
            display: none;
          }
        }
        button {
          border: none;
          outline: none;
          background-color: transparent;
          cursor: pointer;
          img {
            height: 18px;
            border: none;
            width: 8px;
            object-fit: unset;
          }
        }
      }
    }

    //logout
    .logoutWrapper {
      position: fixed;
      right: 32px;
      top: 100px;
      z-index: 5;
      background-color: $light;
      border-radius: 8px;
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      transform: translateX(100px);
      opacity: 0;
      @include transition;
      @include mq($xlg) {
        right: 30px;
      }
      @include mq($lg) {
        right: 25px;
        top: 80px;
      }
      @include mq($md) {
        right: 10px;
      }
      @include mqh($xms) {
        top: 50px;
      }
      button {
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        display: flex;
        align-items: center;
        gap: 10px;
        span {
          @include p;
          color: $darkBlue;
          font-family: $poppinsSemiBold;
        }
      }
    }
    .logoutWrapperActive {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
