@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.selectedCandidate {
  @include scrollbar;
  :global {
    background-color: transparent;
    width: 100%;
    flex-grow: 1;
    overflow: auto;
    section {
      display: flex;
      flex-direction: column;
      padding: 34px 22px;
      gap: 16px;
      background-color: $lightb;
      border-radius: 8px;
      margin-top: 29px;
      overflow: hidden;
      @include mq($xlg) {
        gap: 14px;
        padding: 30px 20px;
        margin-top: 20px;
      }
      @include mq($lg) {
        padding: 25px 20px;
      }
      @include mq($md) {
        margin-top: 15px;
        padding: 20px 15px;
      }
    }

    //header
    .headerCandidates {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 20px;
      margin-top: 0;
      justify-content: space-between;
      flex-wrap: wrap;
      overflow: hidden;
      button {
        @include smallest;
        height: 18px;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ddeafb;
        color: $dark;
        font-family: $poppinsSemiBold;
        padding: 0 36px;
        outline: none;
        border: none;
        border-radius: 9px;
        gap: 5px;
        @include mq($lg) {
          padding: 0 30px;
        }
        @include mq($xls) {
          padding: 0 20px;
        }
      }
      .intro {
        flex-grow: 1;
        border-right: 1px solid #e5edf9;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        @include mq($lg) {
          gap: 15px;
        }
        @include mq($xls) {
          border-right: none;
        }
        .userWrapper,
        .medias {
          display: flex;
          align-items: flex-end;
          justify-content: flex-start;
          gap: 8px;
        }
        .userWrapper {
          .logo {
            width: 60px;
            aspect-ratio: 1/1;
            height: auto;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: hsla(222, 30%, 53%, 19%);
            span {
              font-size: 22px;
              font-family: $poppinsSemiBold;
              color: hsl(223, 84%, 17%);
              text-transform: uppercase;
              opacity: 0.5;
              @include mq($md) {
                font-size: 18px;
              }
            }
          }
          .user {
            gap: 8px;
            .namesWrapper,
            .contacts {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              gap: 14px;
              @include mq($xls) {
                flex-direction: column;
                align-items: flex-start;
              }
              .title {
                font-family: $poppinsRegular;
                color: $dark;
                font-size: 22px;
                @include mq($md) {
                  font-size: 18px;
                }
              }
              .email {
                padding-right: 20px;
                border-right: 1px solid hsla(221, 21%, 55%, 24%);
                @include mq($lg) {
                  padding-right: 15px;
                }
                @include mq($md) {
                  padding-right: 10px;
                }
              }
            }
            .namesWrapper {
              @include mq($xls) {
                flex-direction: row;
                align-items: flex-start;
              }
            }
            .contacts {
              gap: 4px;
              span {
                font-family: $poppinsRegular;
                color: $dark;
                opacity: 0.5;
              }
              .email {
                padding-right: 20px;
                border-right: 1px solid hsla(221, 21%, 55%, 24%);
                @include mq($lg) {
                  padding-right: 15px;
                }
                @include mq($md) {
                  padding-right: 10px;
                }
              }
            }
          }
        }
        .medias {
          gap: 33px;
          @include mq($xlg) {
            gap: 30px;
          }
          @include mq($lg) {
            gap: 25px;
          }
          @include mq($xls) {
            width: 100%;
          }

          button {
            @include btnEdit;
            @include mq($xls) {
              margin-right: auto;
            }
          }
          a {
            text-decoration: none;
            cursor: pointer;
            img {
              width: 16px;
              aspect-ratio: 1/1;
              height: auto;
            }
          }
        }
      }
      .status {
        margin-left: 80px;
        gap: 4px;
        @include mq($xlg) {
          margin-left: 60px;
        }
        @include mq($lg) {
          margin-left: 40px;
        }
        @include mq($md) {
          margin-left: 20px;
        }
        @include mq($xls) {
          margin-left: 0;
        }
        p,
        span {
          @include p;
          color: $dark;
          font-family: $poppinsSemiBold;
        }
        span {
          opacity: 0.5;
        }
        div {
          gap: 8px;
          .img {
            justify-content: flex-start;
            padding-left: 0;
            img {
              height: 100%;
              aspect-ratio: 1/1;
              border-radius: 50%;
              width: auto;
              border: 2px solid #bdd4f3;
            }
          }
          .date {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

// bellow is th selected candidates details
.candidateDetails {
  :global {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
    .headerFilters {
      @include headerFilters;
      padding-bottom: 12px;
      border-bottom: 1px solid #e5edf9;
      @include mq($md) {
        display: flex;
        flex-wrap: wrap;
      }
      button {
        @include mq($md) {
          background-color: #ddeafb;
          border-radius: 9px;
          padding: 10px 20px;
          width: calc(100% / 4 - 20px);
          .activeLine {
            inset: 0;
            bottom: 0;
            border-radius: 9px;
            pointer-events: none;
          }
        }
        @include mq($xls) {
          width: calc(100% / 3 - 20px);
        }
        @include mq($sm) {
          width: calc(100% / 2 - 20px);
        }
        @include mq($xms) {
          width: calc(100% / 2 - 10px);
        }
      }
    }
  }
}

//
.generalCandidateData {
  width: 100%;
  padding: 0;
  display: grid;
  padding: 30px 0;
  grid-template-columns: 3fr 1fr;
  gap: 27px;
  @include mq($lgx) {
    gap: 20px;
  }
  @include mq($xls) {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  :global {
    background-color: transparent;
    .edit {
      background-color: transparent;
      color: #7d9be7;
      font-size: 12px;
      padding: 0;
      cursor: pointer;
      border: none;
      outline: none;
      padding-bottom: 5px;
      border-bottom: 1px solid #7d9be7;
      @include mq($sm) {
        color: 10px;
      }
    }
    //left part
    .detailsWrapper {
      gap: 20px;
      @include mq($lg) {
        gap: 15px;
      }
      .titleBox {
        gap: 10px;
        @include mq($md) {
          gap: 6px;
        }
        span {
          @include p;
          color: $dark;
          font-family: $poppinsSemiBold;
        }
      }

      .filesBox {
        display: flex;
        gap: 14px;
        flex-wrap: wrap;
        @include mq($xlg) {
          gap: 12px;
        }
        @include mq($lgx) {
          gap: 10px;
        }
        @include mq($md) {
          gap: 8px;
        }
        .file {
          padding: 0 16px;
          cursor: pointer;
          height: 40px;
          border: 1px solid hsla(223, 84%, 17%, 15%);
          display: flex;
          align-items: center;
          gap: 8px;
          background-color: $secondary;
          border-radius: 6px;
          @include mq($lg) {
            gap: 6px;
          }
          @include mq($xls) {
            gap: 5px;
          }
          span {
            @include p;
            color: $dark;
            font-family: $poppinsRegular;
          }
          .time {
            @include smallest;
            color: $dark;
            font-family: $poppinsRegular;
            opacity: 0.7;
          }
        }
      }

      // details experiences
      .experienceBox {
        section {
          background-color: transparent;
          margin: 0;
          strong,
          span,
          li {
            @include p;
            color: $dark;
            font-family: $poppinsRegular;
          }
          li,
          span {
            opacity: 0.5;
          }
          div {
            display: flex;
            gap: 12px;
            @include mq($lg) {
              gap: 8px;
            }
          }
          .titles {
            flex-direction: column;
            gap: 8px;
            position: relative;
            .lineLeft {
              position: absolute;
              top: 0;
              left: -15px;
              bottom: 0;
              width: 12px;
              height: 100%;
              background-color: #e5edf9;
              border-radius: 8px;
            }
          }
        }
      }
    }

    //right part
    .overView {
      border: 1px solid #e5edf9;
      border-radius: 8px;
      padding: 26px;
      justify-content: flex-start;
      align-items: center;
      gap: 60px;
      @include mq($lgx) {
        padding: 20px;
        gap: 50px;
      }
      @include mq($lg) {
        gap: 40px;
      }
      @include mq($md) {
        padding: 15px;
        gap: 30px;
      }
      .loadersPercent {
        width: 219px;
        aspect-ratio: 219/144;
        height: auto;
        background-color: $light;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8;
        @include mq($xlg) {
          width: 200px;
        }
        @include mq($lgx) {
          width: 180px;
        }
        @include mq($xls) {
          width: 200px;
        }
        @include mq($sm) {
          width: 180px;
        }
        .loaderBox {
          width: 48px;
          aspect-ratio: 1/1;
          height: auto;
          @include mq($lg) {
            width: 40px;
          }
          @include mq($md) {
            width: 38px;
          }
        }
        .score {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          line-height: 1.3;
          gap: 5px;
          span {
            @include p;
            color: $dark;
            opacity: 1;
            font-family: $poppinsSemiBold;
          }
          .fit {
            color: $success;
          }
        }
      }
      // skills
      .skills {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        @include mq($lg) {
          gap: 14px;
        }
        @include mq($xls) {
          gap: 12px;
        }
        .skill {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          span {
            flex-grow: 1;
            @include p;
            font-family: $poppinsRegular;
            color: $dark;
            opacity: 0.7;
          }
          img {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
}
