@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.selectedCandidate {
  :global {
    background-color: transparent;
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
    section {
      display: flex;
      flex-direction: column;
      padding: 34px 22px;
      gap: 16px;
      background-color: $light;
      border-radius: 8px;
      margin-top: 29px;
      overflow: hidden;
      @include mq($xlg) {
        gap: 14px;
        padding: 30px 20px;
        margin-top: 20px;
      }
      @include mq($lg) {
        padding: 25px 20px;
      }
      @include mq($md) {
        margin-top: 15px;
        padding: 20px 15px;
      }
    }

    //header
    .headerCandidates {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 20px;
      margin-top: 0;
      justify-content: space-between;
      flex-wrap: wrap;
      overflow: hidden;
      button {
        @include smallest;
        height: 18px;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ddeafb;
        color: $dark;
        font-family: $poppinsSemiBold;
        padding: 0 36px;
        outline: none;
        border: none;
        border-radius: 9px;
        gap: 5px;
        @include mq($lg) {
          padding: 0 30px;
        }
        @include mq($xls) {
          padding: 0 20px;
        }
      }
      .intro {
        flex-grow: 1;
        border-right: 1px solid #e5edf9;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        @include mq($lg) {
          gap: 15px;
        }
        @include mq($xls) {
          border-right: none;
        }
        .userWrapper,
        .medias {
          display: flex;
          align-items: flex-end;
          justify-content: flex-start;
          gap: 8px;
        }
        .userWrapper {
          .logo {
            width: 60px;
            aspect-ratio: 1/1;
            height: auto;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: hsla(222, 30%, 53%, 19%);
            span {
              font-size: 22px;
              font-family: $poppinsSemiBold;
              color: hsl(223, 84%, 17%);
              text-transform: uppercase;
              opacity: 0.5;
              @include mq($md) {
                font-size: 18px;
              }
            }
          }
          .user {
            gap: 8px;
            .namesWrapper,
            .contacts {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              gap: 14px;
              @include mq($xls) {
                flex-direction: column;
                align-items: flex-start;
              }
              .title {
                font-family: $poppinsRegular;
                color: $dark;
                font-size: 22px;
                @include mq($md) {
                  font-size: 18px;
                }
              }
              .email {
                padding-right: 20px;
                border-right: 1px solid hsla(221, 21%, 55%, 24%);
                @include mq($lg) {
                  padding-right: 15px;
                }
                @include mq($md) {
                  padding-right: 10px;
                }
              }
            }
            .namesWrapper {
              @include mq($xls) {
                flex-direction: row;
                align-items: flex-start;
              }
            }
            .contacts {
              gap: 4px;
              span {
                font-family: $poppinsRegular;
                color: $dark;
                opacity: 0.5;
              }
              .email {
                padding-right: 20px;
                border-right: 1px solid hsla(221, 21%, 55%, 24%);
                @include mq($lg) {
                  padding-right: 15px;
                }
                @include mq($md) {
                  padding-right: 10px;
                }
              }
            }
          }
        }
        .medias {
          gap: 33px;
          @include mq($xlg) {
            gap: 30px;
          }
          @include mq($lg) {
            gap: 25px;
          }
          @include mq($xls) {
            width: 100%;
          }

          button {
            @include btnEdit;
            @include mq($xls) {
              margin-right: auto;
            }
          }
          a {
            text-decoration: none;
            cursor: pointer;
            img {
              width: 16px;
              aspect-ratio: 1/1;
              height: auto;
            }
          }
        }
      }
      .status {
        margin-left: 80px;
        gap: 4px;
        @include mq($xlg) {
          margin-left: 60px;
        }
        @include mq($lg) {
          margin-left: 40px;
        }
        @include mq($md) {
          margin-left: 20px;
        }
        @include mq($xls) {
          margin-left: 0;
        }
        p,
        span {
          @include p;
          color: $dark;
          font-family: $poppinsSemiBold;
        }
        span {
          opacity: 0.5;
        }
        div {
          gap: 8px;
          .img {
            justify-content: flex-start;
            padding-left: 0;
            img {
              height: 100%;
              aspect-ratio: 1/1;
              border-radius: 50%;
              width: auto;
              border: 2px solid #bdd4f3;
            }
          }
          .date {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

// bellow is th selected candidates details
.candidateDetails {
  :global {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
    .headerFilters {
      @include headerFilters;
      padding-bottom: 12px;
      border-bottom: 1px solid #e5edf9;
      @include mq($md) {
        display: flex;
        flex-wrap: wrap;
      }
      button {
        @include mq($md) {
          background-color: #ddeafb;
          border-radius: 9px;
          padding: 10px 20px;
          width: calc(100% / 4 - 20px);
          .activeLine {
            inset: 0;
            bottom: 0;
            border-radius: 9px;
            pointer-events: none;
          }
        }
        @include mq($xls) {
          width: calc(100% / 3 - 20px);
        }
        @include mq($sm) {
          width: calc(100% / 2 - 20px);
        }
        @include mq($xms) {
          width: calc(100% / 2 - 10px);
        }
      }
    }
  }
}

//
.generalCandidateData {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  :global {
    background-color: transparent;
  }
}
