@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.jobs {
  overflow: hidden;
  display: flex;
  gap: 30px;
  height: 100%;
  flex-direction: column;
  :global {
    width: 100%;
    background-color: transparent;
    flex-grow: 1;
    padding: 0;
    margin: 0;
    border-radius: 8px;
    @include transition;
    .btn {
      @include p;
      font-family: $poppinsSemiBold;
      color: $light;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $primary;
      @include transition;
      cursor: pointer;
      gap: 8px;
      &:hover {
        background-color: darken($color: $primary, $amount: 8);
      }
      @include mq($lg) {
        gap: 5px;
      }
      span {
        @include p;
        font-family: $poppinsSemiBold;
        color: $light;
      }
      img {
        width: 24px;
        aspect-ratio: 1/1;
        height: auto;
        @include mq($lg) {
          width: 20px;
        }
        @include mq($xls) {
          width: 18px;
        }
      }
    }
    .title {
      @include p;
      color: $dark;
      font-family: $poppinsSemiBold;
    }

    .jobsWrapper {
      @include scrollbar;
      overflow-y: auto;
      flex-direction: column;
      flex-grow: 1;
    }
  }
}
