@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.dashboard {
  :global {
    background-color: $secondary;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    padding: 0;
  }
}