@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.dashboard {
  :global {
    background-color: $secondary;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    padding: 0;
    display: flex;
    .contentWrapper {
      width: 100%;
      height: 100%;
      overflow: hidden;
      padding: 0;
      margin: 0;
      flex-grow: 1;
      margin-left: 126px !important;
      display: flex;
      flex-direction: column;
      gap: 0;
      @include transition;
      @include mq($md) {
        margin-left: 90px !important;
      }
      @include mq($xls) {
        margin-left: 0 !important;
      }
    }
    .widthFullContentWrapper {
      @include transition;
      margin-left: 90px !important;
      @include mq($sm) {
        margin-left: 60px !important;
      }
    }
    .contentScrollable {
      width: 100%;
      overflow: hidden;
      flex-grow: 1;
      background-color: $secondary;
      padding: 30px 20px;
      display: flex;
      flex-direction: row;
      gap: 16px;
      @include transition;
      @include mq($lgx) {
        padding: 25px 20px;
      }
      @include mq($lg) {
        padding: 20px 15px;
      }
      @include mq($md) {
        padding: 15px;
      }

      .contentMiddleWrapper {
        flex-grow: 1;
        height: 100%;
        overflow-y: auto;
        @include scrollbar;
        @include transition;
      }
      .buttonToggleMeetings {
        background-color: $gray;
        padding: 20px 10px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: -20px;
        z-index: 10;
        top: 50%;
        bottom: 50%;
        @include transition;
        transform: translate(-50%, -50%);
      }
    }
  }
}
