@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.candidateCard {
  :global {
    background-color: $light;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    padding: 0;
    position: relative;
    display: flex;
    gap: 0;
    cursor: pointer;
    @include transition;

    button {
      position: absolute;
      border: 1px solid hsla(223, 87%, 25%, 51%);
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 86px;
      width: 92px;
      font-family: $poppinsSemiBold;
      color: $dark;
      font-size: 24px;
      left: -30px;
      top: -20px;
      @include transition;
      background-color: $light;
      @include background-img;
      @include mq($lgx) {
        height: 76px;
        width: 82px;
        left: -25px;
        top: -15px;
      }
      @include mq($lg) {
        height: 66px;
        width: 72px;
        font-size: 20px;
        left: -20px;
        top: -12px;
        border-radius: 25px;
      }
      @include mq($md) {
        height: 66px;
        width: 72px;
        font-size: 19px;
        left: -18px;
        top: -10px;
        border-radius: 20px;
      }
      @include mq($xls) {
        height: 56px;
        width: 62px;
        font-size: 18px;
        border-radius: 15px;
      }
    }

    .positionedBg {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 24px;
      padding-left: 17px;
      @include transition;
      @include mq($xlg) {
        padding: 20px;
        padding-left: 14px;
      }
      @include mq($lg) {
        padding: 18px;
        padding-left: 14px;
      }
      @include mq($md) {
        padding: 15px;
        padding-left: 12px;
      }
      .names {
        width: 100%;
        max-width: 100%;
        height: fit-content;
        text-align: right;
        padding-right: 0;
        white-space: normal;
        overflow-wrap: break-word;
        @include transition;
        transform: translateY(40px);
        @include mq($xlg) {
          transform: translateY(35px);
        }
        @include mq($md) {
          transform: translateY(30px);
        }
      }
      span {
        @include p;
        color: $blackOpaque;
        font-family: $poppinsRegular;
        margin-top: auto;
        line-height: 1.2;
      }
      .visibleOnHover {
        @include transition;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        opacity: 0;
        transform: translate(-40px, 0px);
        @include mq($md) {
          display: none; //no hover on md
        }
      }
      &:hover {
        .visibleOnHover {
          opacity: 0.5 !important;
          transform: translateX(0px) !important;
          transform: translate(0px, 0px);
          position: absolute;
          bottom: 15px;
          right: 15px;
          z-index: 2;
        }
        .names {
          transform: translateY(70px);
          @include mq($xlg) {
            transform: translateY(60px);
          }
          @include mq($md) {
            transform: translateY(50px);
          }
        }
        span {
          opacity: 1 !important;
          @include transition;
          transform: translateY(10px);
          display: inline-block;
          max-width: 60%;
          white-space: normal;
          overflow-wrap: break-word;
          color: $dark;
          @include mq($xlg) {
            transform: translateY(7px);
          }
          @include mq($lg) {
            transform: translateY(5px);
          }
        }
      }
    }
  }
  &:hover {
    background-color: $lightBlueOpaque;
    button {
      transform: scale(1.5);
      transform: translate(20px, 20px);
      @include mq($xls) {
        transform: translate(0, 0);
        transform: scale(1);
      }
    }
  }
}
