@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.formAuth {
  :global {
    background-color: transparent;
    width: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
    padding-top: 40px;
    flex-direction: column;
    display: flex;
    gap: 16px;
    .buttonSubmit {
      font-family: $poppinsRegular;
      text-transform: capitalize !important;
    }
    .inputBox {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0;
      margin: 0;
      gap: 5px;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}
