@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.formLogin {
  :global {
    background-color: transparent;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
}
