@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.topNavbar {
  :global {
    width: 100%;
    padding: 21px 32px;
    background-color: $light;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .searchWrapper {
      align-items: center;
      gap: 20px;
      .openMenu {
        border-radius: inherit;
        color: $darkBlue;
        display: none;
        cursor: pointer;
        @include transition;
        &:hover {
          color: $warning;
        }
        @include mq($xls) {
          display: flex !important;
        }
      }
      .searchBox {
        background-color: rgba(229, 237, 249, 44%);
        border-radius: 8px;
        padding: 8px 16px;
        min-width: pxToVw(425);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0;
        img {
          width: 24px;
          aspect-ratio: 1/1;
          height: auto;
          cursor: pointer;
        }
        input {
          background-color: transparent;
          border: none;
          padding: 0;
          padding-left: 14px;
          flex-grow: 1;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          height: 100%;
          font-family: $poppinsRegular;
          @include p;
          color: $dark;
          box-shadow: non;
          &::placeholder {
            color: $dark;
          }
          &:focus {
            outline: none;
            border: none;
            box-shadow: none;
          }
        }
      }
    }
    .profile {
      align-items: center;
      justify-content: flex-end;
      margin-left: auto;
      gap: 16px;
      img {
        height: 40px;
        aspect-ratio: 1/1;
        width: auto;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #d9d9d9;
      }
      .names {
        align-items: center;
        gap: 8px;
        span {
          font-family: $poppinsSemiBold;
          @include p;
          color: $dark;
        }
        button {
          border: none;
          outline: none;
          background-color: transparent;
          cursor: pointer;
          img {
            height: 12px;
            aspect-ratio: 12/6;
            width: 6px;
          }
        }
      }
    }
  }
}
