@import "./variables.scss";
@import "./mixins.scss";
@import "./fonts.scss";
@import "node_modules/bootstrap/scss/bootstrap";

body,
#root {
  background-color: $secondary;
  padding: 0;
  margin: 0;
  width: 100vw;
  overscroll-behavior: smooth;
  overflow-x: hidden;
  @include scrollbar;

  ::selection {
    background-color: $dark;
    color: $light;
  }

  ::-webkit-selection {
    background-color: $dark;
    color: $light;
  }

  ::-moz-selection {
    background-color: $dark;
    color: $light;
  }
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: $poppinsMedium;
}