//  colors

$primary: #4B93E7;
$blue: #4B93E7;
$dark: #071C50;
$darkBlue: #082777;
$darkOpaque: rgba(2, 2, 2, 0.5);
$blackOpaque: rgba(0, 0, 0, 0.5);
$light: #ffffff;
$light_gray: #E6E6E6;
$secondary: #E7F1FF;
$border: #cacaca;
$lightBlue: #7D9BE7;
$lightBlueOpaque: hsl(198, 79%, 79%, 36%); //A0DBF4
$leaf: #2B5708;
$leafOpaque: rgba(43, 87, 8, .5);
$leafLight: hsla(126, 70%, 82%, 36%); //B0F1B6
$bgLogin: #E6EEF8;
$gray: #D3E2F4;

// effects colors
$success: #469607;
$warning: #F7AC25;
$error: #D50000;


// fonts families

$poppinsMedium: PoppinsMedium, "sans-serif";
$poppinsRegular: PoppinsRegular, "sans-serif";
$poppinsSemiBold: PoppinsSemiBold, "sans-serif";
$poppinsBold: PoppinsBold, "sans-serif";
$poppinsThin: PoppinsThin, "sans-serif";
$poppinsExtraBold: PoppinsExtraBold, "sans-serif";


//  measurements
$sm: 480px;
$small-device: 500px;
$xxs: 320px;
$xls: 600px;
$xlsh: 500px;
$xms: 375px;
$md: 768px;
$lgx: 1024px;
$lg: 993px;
$xlg: 1440px;
$xxlg: 5000px;
$headervh: 100vh;
$header-padding: 10vw;
$divider: calc(4 / 3);
$xd-width: 1920;
$xd-height: 1080;
$width-of-container: calc(85px / $divider);
$menu-height: 54px;