@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.upComingMeetings {
  @include scrollbar;
  min-width: 320px;
  padding: 16px 8px;
  overflow: auto;
  background-color: $light;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background-color: transparent;
  margin-right: 0;
  transform: translateX(0);
  opacity: 1;
  gap: 16px;
  @include transition;
  opacity: 1;
  @include mq($lg) {
    min-width: 300px;
  }
  @include mq($md) {
    padding: 14px 5px;
    position: fixed;
    top: 85px;
    bottom: 30px;
    right: 15px;
    z-index: 2;
    width: 280px;
    padding-bottom: 100px;
  }
  @include mq($sm) {
    width: 250px;
    padding: 5px;
    top: 78px;
  }
  :global {
    background-color: $light;
    .titleBox {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0;
      gap: 8px;
      background-color: transparent;
      .title {
        @include p;
        color: $dark;
        font-family: $poppinsSemiBold;
      }
    }
    .meetingsWrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
      .meetingWrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .time {
          @include small;
          font-family: $poppinsSemiBold;
          opacity: 0.5;
        }
        .meetingActivities {
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
      }
    }
  }
}

//translate the section
.transformRight {
  :global {
    margin-right: -320px;
    opacity: 0;
    @include transition;
    @include mq($lg) {
      margin-right: -300px;
    }
    @include mq($md) {
      transform: translateX(1000px);
      margin-right: 0;
    }
  }
}
