@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.candidates {
  :global {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: transparent;
    padding: 0;
    margin: 0;
    @include transition;
    flex-direction: column;
    gap: 20px;
    .header {
      .candidatesTitle {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0;
        span {
          @include p;
          color: $dark;
          opacity: 0.5;
        }
        .selected {
          opacity: 1;
        }
      }
      .backBtn {
        display: flex;
        gap: 8px;
        cursor: pointer;
        @include transition;
        align-items: center;
        .icon {
          opacity: 0.5;
        }
        span {
          @include p;
          color: $dark;
          font-family: $poppinsSemiBold;
        }
      }
    }
    .candidatesWrapper {
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      overflow-y: auto;
      width: 100%;
      height: 100%;
      justify-content: flex-start;
      @include scrollbar;
      gap: 40px;
      padding-left: 40px;
      padding-top: 40px;
      margin-top: 29px;
      @include mq($lg) {
        margin-top: 20px;
      }
      @include mq($lg) {
        gap: 30px;
        padding-left: 30px;
        padding-top: 30px;
        width: calc(100% - 30px);
      }
      .singleCandidate {
        background-color: transparent;
        padding: 0;
        width: calc(100% / 4 - 30px);
        height: auto;
        min-height: 188px;
        cursor: pointer;
        @include transition;
        @include mq($xlg) {
          width: calc(100% / 3 - 27px);
        }
        @include mq($lg) {
          width: calc(100% / 3 - 20px);
        }
        @include mq($xls) {
          width: calc(100% / 2 - 15px);
        }
        @include mq($sm) {
          width: 100%;
          min-height: 130px;
        }
      }
    }
  }
}
