@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.upComingMeetings {
  @include scrollbar;
  width: pxToVw(320);
  padding: 16px 8px;
  overflow: auto;
  background-color: $light;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background-color: transparent;
  gap: 16px;
  @include transition;
  transform: translateX(0);
  opacity: 1;
  @include mq($xlg) {
    width: 320px;
  }
  @include mq($md) {
    padding: 14px 5px;
    position: fixed;
    top: 85px;
    bottom: 100px;
    right: 20px;
    z-index: 3;
  }
  @include mq($sm) {
    width: 280px;
    padding: 5px;
  }
  :global {
    background-color: $light;
    .titleBox {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0;
    }
  }
}

.transformedRight {
  @include scrollbar;
  transform: translateX(1000px);
  opacity: 0;
  overflow: auto;
}
