@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.upComingMeetings {
  @include scrollbar;
  width: 320px;
  padding: 16px 8px;
  overflow: auto;
  background-color: $light;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background-color: transparent;
  gap: 16px;
  @include transition;
  opacity: 1;
  @include mq($lg) {
    width: 300px;
  }
  @include mq($lg) {
    width: 280px;
  }
  @include mq($md) {
    padding: 14px 5px;
    position: fixed;
    top: 85px;
    bottom: 100px;
    right: 20px;
    z-index: 3;
  }
  @include mq($sm) {
    width: 280px;
    padding: 5px;
  }
  :global {
    background-color: $light;
    .titleBox {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0;
      gap: 8px;
      background-color: transparent;
      .title {
        @include p;
        color: $dark;
        font-family: $poppinsSemiBold;
      }
    }
    .meetingsWrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
      .meetingWrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .time {
          @include small;
          font-family: $poppinsSemiBold;
          opacity: 0.5;
        }
        .meetingActivities {
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
      }
    }
  }
}
