@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.iconButton {
    :global {
        background-color: transparent;
        width: 100%;
        padding: 0 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;

        img {
            width: 32px;
            aspect-ratio: 1/1;
            height: auto;
        }

        .title {
            font-family: $poppinsSemiBold;
            @include p;
            color: $bgLogin;

            @include mq($xls) {
                display: none;
            }
        }

        .titleActive {
            color: $activeBtnColor;
        }

    }
}