@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.footer {
  :global {
    background-color: transparent;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    overflow: hidden;
    margin-top: auto;
    flex-direction: column;
    padding: 40px;
    gap: 6px;

    @include mq($lg) {
      padding: 20px;
    }

    @include mq($xls) {
      padding: 15px;
    }

    a {
      font-weight: 900;
    }

    * {
      font-family: $poppinsRegular;
    }
  }
}