@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.footer {
  :global {
    background-color: transparent;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    overflow: hidden;
    margin-top: auto;
  }
}