@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.requireAttention {
  :global {
    background-color: transparent;
    flex-grow: 1;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 22px;
    overflow: hidden;
    @include mq($xlg) {
      gap: 20px;
    }
    @include mq($lg) {
      gap: 18px;
    }
    .headerFilters {
      @include headerFilters;
    }
    .candidatesWrapper {
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      overflow-y: auto;
      width: 100%;
      height: 100%;
      justify-content: flex-start;
      @include scrollbar;
      gap: 40px;
      padding-left: 40px;
      padding-top: 40px;
      margin-top: 29px;
      @include mq($lg) {
        margin-top: 20px;
      }
      @include mq($lg) {
        gap: 30px;
        padding-left: 30px;
        padding-top: 30px;
        width: calc(100% - 30px);
      }
      .singleCandidate {
        padding: 0;
        width: calc(100% / 4 - 30px);
        height: auto;
        min-height: 188px;
        cursor: pointer;
        @include transition;
        @include mq($xlg) {
          width: calc(100% / 3 - 27px);
        }
        @include mq($lgx) {
          width: calc(100% / 2 - 20px);
        }
        @include mq($xls) {
          width: calc(100% / 2 - 15px);
        }
        @include mq($sm) {
          width: 100%;
          min-height: 130px;
        }
      }
    }
  }
}
